@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
     
}
.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
}
/* menu design */
#menu{
    background: whitesmoke;
}
.title {
    padding: 0 30px;
}
.title p{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 102);
    margin: 0;
}
.border{
    width: 80px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: coral;
}
.brand-logo{
    padding: 0 40px;
}
.brand-logo img{
    width: 150px;
    height: 150px;
    margin-top: 20px;/*-20*/
}
.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 30px;
    margin: 12px 0;
    color: rgb(128,129,129);
    font-weight: 300;
}
.menu-item a:hover{
    background: rgb(250,212,218);
}
#food-items{
    background: whitesmoke;
    overflow: auto;
    height: calc(100vh - 86px);
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;
}
::-webkit-scrollbar{
    display: none;
}
#header .address{
    font-size: 20px;
}
#map{
    font-size: 25px;
    color: rgb(153, 153, 255);
}
.your-address{
    border: 2px solid rgb(0, 0, 51);
    color: rgb(0, 0, 102);
    padding: 5px 10px;
    border-radius: 5px;
    width: 155px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.add-box i{
    font-size: 20px;
}
#header select{
    width: 150px;
    overflow: hidden;
    border: none;
    outline: none;
    background: none;
    color: rosybrown;
    padding: 0 5px;
}
.util i,.user i{
    font-size: 18px;
    margin: 0 16px;
    border: 2px solid rgb(0, 26, 51);
    padding: 8px 16px;
    color: rgb(0, 51, 102);
    border-radius: 20px;
    cursor: pointer;
} 
.util i:active,.user i:active{
    color: white;
    background: rgb(0, 77, 153);  
}
.food-items{
    display: none;
}   
#starters,#salads,#soups,#breads,#biryani,#rice,#noodles,#vegetable,#paneer,#egg,#chicken,#pork,#beef,#mutton,#fish,#continental,#chinese,#south-indian,#north-indian,#burger,#pizza,#pasta,#sandwich,#dips,#desserts,#beverages{
    margin-top: 40px;   
}  
#starters #item-card,#salads #item-cacard,#soups #item-card{
    background: rgb(204, 204, 255);
}
#breads #item-card{
    background: rgb(255, 204, 255);
}
#biryani #item-card,#rice #item-card,#noodles #item-card{
    background: rgb(255, 255, 77);   
} 
#paneer #item-card,#vegetable #item-card{
    background: rgb(77, 255, 77);
}
#continental #item-card,#chinese #item-card{
    background: rgb(204, 255, 255);
}
#south-indian #item-card,#north-indian #item-card{
    background: rgb(255, 209, 179);
}
#burger #item-card,#pizza #item-card,#pasta #item-card,#sandwich #item-card,#dips #item-card{
    background: rgb(255, 240, 179);
}
#desserts #item-card,#beverages #item-card{
    background: rgb(255, 204, 230);
}

#category-name,.item-menu{
    margin: 10px;
    font-size: 40px;   
    color: rgb(0, 0, 102);
    font-family: 'Aclonica', sans-serif;
    justify-content: space-between;
}
#item-card{
    width: 180px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    background: rgb(253, 221, 226);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

#card-top{
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
}
#rating{
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 16px;
    border-radius: 15px;
}
.fa-heart-o{
    padding: 6px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    color: red;
    font-size: 16px;
}
.toggle-heart{
background: orangered;
color: white; 
}
#item-card img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
}

#item-card:hover img{
    transform: scale(1.2);
}
#item-name{
    margin: 5px 0;
    font-weight: 600;
    color: rgb(0, 0, 51);
    font-size: 18px;
}
#item-price{
    margin: 0;
    color: rgb(0, 0, 51);
    font-weight: 500;
    font-size: 18px;
}    
#cart{
    background: whitesmoke;
    padding-right: 30px;
    overflow-y:scroll;
}
.taste-header{
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
}
.item-menu{
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    color: rgb(0, 0, 102);
    background: whitesmoke;
    font-weight: bold;
}
.border{
    width: 210px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: rgb(0, 0, 255);
}
.list-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.list-card:hover{
    background: rgb(179, 179, 255);
}
.list-card:hover img{
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}
.list-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-name{
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(0, 51, 102);
}
#category-list{
    
}
.cart-toggle{
   dispay:none;
}
#cart-page{
    
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}
#cart-title{
    font-size: 35px;
    margin: 0;
    color: rgb(0, 0, 102);
}
#cart-page table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
}
#m-total-amount{
    display: none;
}
#cart-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}
#cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: rgb(102, 102, 255);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
    padding: 3px 8px;
}
#cart-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
}
#checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
}
#checkout p{
    margin: 15px 0;
    float: left;
}
#total-price,#total-item{
    font-size: 25px;
    color: rgb(0, 0, 102);
}
.cart-btn{
    outline: none;
    border: none;
    background: rgb(77, 77, 255);
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}
.cart-btn:active{
    color: rgb(77, 77, 255);
    background:none;
    border: 1px solid rgb(77, 77, 255);
}

#delievery{
    font-size: 20px;
    color: limegreen;
}